body {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100vw;
  font-family: "Quicksand";
  overflow-x: hidden !important;
}

.form-wrap span {
  color: #666;
  text-decoration: none;
}

.form-wrap input {
  font: 16px/26px "Raleway", sans-serif;
}

.form-wrap .tabs {
  overflow: hidden;
  padding-top: -20px;
}
.form-wrap .tabs h3 {
  float: left;
  width: 50%;
  margin-top: 10px;
}
.form-wrap .tabs h3 span {
  padding: 0.5em 0;
  text-align: center;
  font-weight: 400;
  background-color: #e6e7e8;
  display: block;
  color: #666;
}
.form-wrap .tabs h3 span.active {
  background-color: #fff;
}
.form-wrap .tabs-content {
  padding: 1rem;
}

.form-wrap #login-tab-content {
  padding: 1.5em;
}

.form-wrap .tabs-content div[id$="tab-content"] {
  display: none;
}
.form-wrap .tabs-content .active {
  display: block !important;
}

.form-wrap form .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: 0.8em 0 10px 0.8em;
  border: 1px solid #cfcfcf;
  outline: 0;
  display: inline-block;
  margin: 0 0 5px 0;
  padding-right: 2em;
  width: 100%;
}
.form-wrap form .button {
  width: 100%;
  padding: 0.8em 0 10px 0.8em;
  background-color: #28a55f;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  .form-wrap form .button,
  .form-wrap form .input {
    padding: 4px;
  }
}

@media screen and (max-width: 700px) {
  .form-wrap .tabs-content {
    padding-top: 10px;
  }
}

.tabs-wrap {
  margin-top: 25px;
}

.form-wrap {
  display: grid;
}

.form-wrap form .button:hover {
  background-color: #4fda8c;
}

.form-wrap .help-text {
  margin-top: 0.6em;
}
.form-wrap .help-text p {
  text-align: center;
  font-size: 14px;
}

.form-wrap input[type="checkbox"] {
  margin-left: -5px;
}

.error {
  border: 1px solid red !important;
}

.form-wrap input[type="radio"] {
  margin: 10px 5px;
}

.error-message {
  color: red !important;
}

.spinner {
  justify-self: center;
  margin-bottom: 20px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(20, 169, 109);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button[aria-label="Navigation"] {
  outline: none;
}

@media (max-width: 700px) {
  .DropDownAnimation {
    animation: DropDown 300ms ease-in-out forwards;
  }
}

@keyframes DropDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
